# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app


# Main Folder
.thumbnails
bin/*
data/*
include/*
#lib/*
utils/*
*.bat

#Ultralight Includes
!data/ultralight.basemat
!include/AppCore
!include/JavaScriptCore
!include/Ultralight

#UltraLight Libraries
!bin/AppCore.dll
!bin/WebCore.dll
!bin/Ultralight.dll
!bin/UltralightCore.dll