# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# Main Folder
.thumbnails
bin/*
data/*
include/*
#lib/*
utils/*
*.bat

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/*
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/

.vs

#Ultralight Includes
!data/ultralight.basemat
!include/AppCore
!include/JavaScriptCore
!include/Ultralight

#UltraLight Libraries
!bin/AppCore.dll
!bin/WebCore.dll
!bin/Ultralight.dll
!bin/UltralightCore.dll

#UltraLight Resources
!bin/resources/